__pycache__/
*.pyc
.venv/
*.sf2
recordings/
.idea/
*.egg-info/
.worktrees/
build/
dist/
*.spec
.pytest_cache/
dev/
pkg/
src/
Piano-Midi-Player/
*.pkg.tar.zst
.directory
freepats-*.7z
soundfonts/*-CC0.txt
soundfonts/*-readme.txt
