pkgbase = piano-player-git
	pkgdesc = Desktop MIDI piano player/editor with recording and falling-note practice view
	pkgver = r25.gc99878f
	pkgrel = 1
	url = https://github.com/l3afyb0y/Piano-Midi-Player
	arch = any
	license = MIT
	makedepends = git
	makedepends = p7zip
	depends = python
	depends = python-pyqt6
	depends = python-numpy
	depends = python-mido
	depends = python-rtmidi
	depends = portaudio
	optdepends = python-sounddevice: python sounddevice module (AUR) for realtime audio backend
	optdepends = fluidsynth: high-quality SoundFont synthesis backend
	optdepends = python-pyfluidsynth: Python FluidSynth bindings (AUR)
	source = git+https://github.com/l3afyb0y/Piano-Midi-Player.git
	source = freepats-upright-piano-small-20190703.7z::https://freepats.zenvoid.org/Piano/UprightPianoKW/UprightPianoKW-small-SF2-20190703.7z
	source = freepats-electric-guitar-clean-small-20220911.7z::https://freepats.zenvoid.org/ElectricGuitar/FSBS-EGuitar/EGuitarFSBS-bridge-clean-small-SF2-20220911.7z
	sha256sums = SKIP
	sha256sums = 3bd025e7c2ffa9e6f3f99215ce383c9cebbac991cfbf9be1453cdb4328ec3492
	sha256sums = 61f14af225c00d0621a57033f910ecdd8c2916752b7fd111744fa7eee3f05932

pkgname = piano-player-git
