pkgbase = piano-player-git
	pkgdesc = Desktop MIDI piano player/editor with recording and falling-note practice view
	pkgver = r25.gc99878f
	pkgrel = 1
	url = https://github.com/l3afyb0y/Piano-Midi-Player
	arch = any
	license = MIT
	license = CC0-1.0
	license = CC-BY-3.0
	makedepends = git
	makedepends = p7zip
	depends = python
	depends = python-pyqt6
	depends = python-numpy
	depends = python-mido
	depends = python-rtmidi
	depends = portaudio
	depends = sfizz-lib
	optdepends = python-sounddevice: python sounddevice module (AUR) for realtime audio backend
	optdepends = fluidsynth: high-quality SoundFont synthesis backend
	optdepends = python-pyfluidsynth: Python FluidSynth bindings (AUR)
	provides = piano-player
	conflicts = piano-player
	source = git+https://github.com/l3afyb0y/Piano-Midi-Player.git
	source = freepats-salamander-grand-piano-sfz-flac-20200602.tar.gz::https://freepats.zenvoid.org/Piano/SalamanderGrandPiano/SalamanderGrandPiano-SFZ+FLAC-V3+20200602.tar.gz
	source = freepats-electric-guitar-clean-sfz-flac-20220911.7z::https://freepats.zenvoid.org/ElectricGuitar/FSBS-EGuitar/EGuitarFSBS-bridge-clean-SFZ+FLAC-20220911.7z
	sha256sums = SKIP
	sha256sums = b7760e168494cf095344e217b0af013fc449ad033abbbdf1c65211cf11dc038b
	sha256sums = d371496bdb0622444e8956a65e85953257ef9eae9bb7cb6e675512e61deac17b

pkgname = piano-player-git
